<ion-content class="ion-padding">
    <ion-button fill="clear" class="top-right" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <h3 class="title">COMO JUGAR</h3>
    <article>
        <p>Adivina el codigo oculto en siete intentos.</p>

        <p>Cada intento debe tener 7 numeros del 0 al 9, los numero se pueden repetir.</p>

        <p>Después de cada intento el color de los numeros cambia para mostrar qué tan cerca estás de acertar la conmbinacion.</p>

        <p>Ejemplos</p>
        <p>El numero 3 esta en la combinacion y en posicion correcta</p>
        <table class="table">
        <tr>
            <td class="value valueCircle checked appearEffect" >
                3
            </td>
            <td class="value valueCircle" >
                2
            </td>
            <td class="value valueCircle" >
                3
            </td>
            <td class="value valueCircle" >
                4
            </td>
            <td class="value valueCircle" >
                5
            </td>
            <td class="value valueCircle" >
                5
            </td>
            <td class="value valueCircle warn" >
                3
            </td>
        </tr>
        </table>

        <p>El numero 1 esta en la combinacion pero no esta en la posicion correcta.</p>

        <table class="table">
            <tr>
                <td class="value valueCircle warn appearEffect" >
                    1
                </td>
                <td class="value valueCircle" >
                    2
                </td>
                <td class="value valueCircle" >
                    3
                </td>
                <td class="value valueCircle" >
                    4
                </td>
                <td class="value valueCircle" >
                    5
                </td>
                <td class="value valueCircle" >
                    5
                </td>
                <td class="value valueCircle" >
                    3
                </td>
            </tr>
        </table>

        <p>El numero 2 no esta en la conmbinacion.</p>

        <table class="table">
            <tr>
                <td class="value valueCircle" >
                    1
                </td>
                <td class="value valueCircle fillBackGround appearEffect" >
                    2
                </td>
                <td class="value valueCircle" >
                    3
                </td>
                <td class="value valueCircle" >
                    4
                </td>
                <td class="value valueCircle" >
                    5
                </td>
                <td class="value valueCircle" >
                    5
                </td>
                <td class="value valueCircle" >
                    3
                </td>
            </tr>
        </table>
    </article>
</ion-content>
