<ion-content class="ion-padding">
    <ion-button fill="clear" class="top-right" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <h3 class="title">COMO JUGAR</h3>
    <article>
        <p>Adivina los siete codigos ocultos antes de que se acabe el tiempo.</p>

        <p>
            Pulsando encima de cada numero podras seleccionar e intercambiar la posicion de los numeros.
            Después de cada intento el color de los numeros cambia para mostrar qué tan cerca estás de acertar la conmbinacion.
        </p>

        <p>Ejemplo</p>

        <p>El numero 4 esta en la combinacion y en posicion correcta</p>
        <table class="table">
        <tr>
            <td class="value valueCircle" >
                3
            </td>
            <td class="value valueCircle" >
                2
            </td>
            <td class="value valueCircle" >
                3
            </td>
            <td class="value valueCircle checked appearEffect" >
                4
            </td>
            <td class="value valueCircle" >
                5
            </td>
            <td class="value valueCircle" >
                5
            </td>
            <td class="value valueCircle" >
                3
            </td>
        </tr>
        </table>

        <p>El numero 1 esta en la combinacion pero no esta en la posicion correcta.</p>

        <table class="table">
            <tr>
                <td class="value valueCircle warn appearEffect" >
                    1
                </td>
                <td class="value valueCircle" >
                    2
                </td>
                <td class="value valueCircle" >
                    3
                </td>
                <td class="value valueCircle" >
                    4
                </td>
                <td class="value valueCircle" >
                    5
                </td>
                <td class="value valueCircle" >
                    5
                </td>
                <td class="value valueCircle" >
                    3
                </td>
            </tr>
        </table>

        <p>El numero 2 no esta en la conmbinacion.</p>

        <table class="table">
            <tr>
                <td class="value valueCircle" >
                    1
                </td>
                <td class="value valueCircle fillBackGround appearEffect" >
                    2
                </td>
                <td class="value valueCircle" >
                    3
                </td>
                <td class="value valueCircle" >
                    4
                </td>
                <td class="value valueCircle" >
                    5
                </td>
                <td class="value valueCircle" >
                    5
                </td>
                <td class="value valueCircle" >
                    3
                </td>
            </tr>
        </table>
        <p>Pulsa <b>START</b> para empezar a jugar. ¡Cuidado! una vez empieces no podras parar el tiempo.</p>

    </article>
</ion-content>
