@import "/src/utils/mixin.scss";

@keyframes appear {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

.title {
    text-align: center;
}

.table {
    padding: 5px;
    border-collapse: separate;
    border-spacing: 5px 5px;
    margin-left: auto;
    margin-right: auto;
    tr {
        padding: 5px;
    }
}
  
.value {
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    max-width: 56px;
    width: 56px;
    height: 56px;
    font-size: x-large;
    @include small {
      max-width: 44px;
      width: 44px;
      height: 44px;
      font-size: large;
    }
    @include verySmall {
      max-width: 33px;
      width: 33px;
      height: 33px;
    }
    text-align: center;
    font-weight: bold;
}
  
.valueCircle {
    border-radius: 50%;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

h3 {
    font-weight: bold;
}

.fillBackGround {
    background-color: var(--ion-color-primary);
}
  
.checked {
    background-color: var(--ion-color-success) !important;
    color: var(--ion-color-success-contrast) !important;
    border: 2 solid var(--ion-color-success) !important;
}

.warn {
    color: var(--ion-color-warning-contrast);
    background-color: var(--ion-color-warning);
    border: 2 solid var(--ion-color-warning);
}

.appearEffect {
    animation-name: appear;
    animation-duration: 0.5s;
}