<ion-content>

<ion-header class="header">
  <button (click)="explain()" class="help">
    <ion-icon name="help-circle-outline"></ion-icon>
  </button>
  <h3 class="title">CodeBreaker</h3>
  <button fill="clear" (click)="info()" class="help">
    <ion-icon name="stats-chart-outline"></ion-icon>
  </button>
  <button fill="clear" (click)="settings()" class="help">
    <ion-icon name="settings-outline"></ion-icon>
  </button>
</ion-header>

<div class="content"> 
  <div class="watch">
    <div class="spinner" [ngClass]="{'rotating': running}" (click)="start()">
      <p *ngIf="!running">START</p>
      <div *ngIf="running">{{ counter | date:'mm:ss' }}</div>
    </div>
  </div>
  <table class="table">
    <tr *ngFor="let row of quizz.rows; let index = index"> 
      <td 
        *ngFor="let rowValue of row.cells; let i = index" class="value valueCircle border fillBackGround" (click)="select({col:i, row: index, val: rowValue.value})"
        [ngClass]="{
          running: running,
          checked: rowValue.value && rowValue.value === numbersOfTheDay[index].charAt(i),
          warn: rowValue.value && numbersOfTheDay[index].includes(rowValue.value),
          selected: selectedChar && selectedChar.row === index && selectedChar.col === i,
          effect: (auxSelectedChar && secondSelect && (auxSelectedChar.row === index && auxSelectedChar.col === i || secondSelect.row === index && secondSelect.col === i))
            || completedRow.includes(index)
        }" >
        {{rowValue.value}}
      </td>
      <td class="value valueCircle border locked"
        [ngClass]="{
          checked: completedRow.includes(index)
        }">
        <ion-icon *ngIf="completedRow.includes(index)" name="lock-closed-outline"></ion-icon>
        <ion-icon *ngIf="!completedRow.includes(index)" name="lock-open-outline"></ion-icon>
      </td>
    </tr>
  </table>

</div>
</ion-content>
