@import "/src/utils/mixin.scss";
@import "/src/theme/variables.scss";

@keyframes appear {
  from {transform: scaleY(0);}
  to {transform: scaleY(1);}
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 52.391px);
}

.table {
  padding: 5px;
  border-collapse: separate;
  border-spacing: 5px 5px;
  tr {
    padding: 5px;

  }
}

.value {
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  max-width: 56px;
  width: 56px;
  height: 56px;
  font-size: x-large;
  @include small {
    max-width: 44px;
    width: 44px;
    height: 44px;
    font-size: large;
  }
  @include verySmall {
    max-width: 33px;
    width: 33px;
    height: 33px;
  }
  text-align: center;
  font-weight: bold;
}

.value:hover {
  cursor:default;
}

.running:hover {
  cursor: pointer;
}

.valueCircle {
  border-radius: 50%;
}

.keybord {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  max-width: 70%;
  @include small {
    max-width: 90%;
  }
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.key {
  text-align: center;
  font-weight: bold;
  height: 36px;
  flex: 1 18%;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  border-radius: 20%;
  font-size: large;
  
  @include notSmall {
    font-size: x-large;
  }
}

.key:disabled {
  opacity: 0.5;
}

.key-text {
  width: 108px;
}

.header {
  max-height: 52.391px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title {
  align-self: center;
  font-weight: bold;
}

.right {
  margin-left: auto;
}

.icon-font {
  font-size: x-large;
  @include small {
    font-size: large;
  }
  color: var(--ion-color-primary-shade);
}

.border {
  border: 2px solid var(--ion-color-primary);
}

.fillBackGround {
  background-color: var(--ion-color-primary);
}

.checked {
  background-color: var(--ion-color-success) !important;
  color: var(--ion-color-success-contrast) !important;
  border: 2px solid var(--ion-color-success) !important;
}

.warn {
  color: var(--ion-color-warning-contrast);
  background-color: var(--ion-color-warning);
  border: 2px solid var(--ion-color-warning);
}

.selected {
  background-color: var(--ion-color-danger-shade) !important;
  border: 2px solid var(--ion-color-danger-shade) !important;
}

.locked {
  background-color: var(--ion-color-danger-shade);
  border: 2px solid var(--ion-color-danger-shade);
}

@mixin effectDelay($delay) {
  animation-name: appear;
  animation-duration: 0.5s;

  -webkit-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

.effect {
  animation-name: appear;
  animation-duration: 0.5s;
}

.effectDelay {
  @include effectDelay(0s);
}

.effectDelay1 {
  @include effectDelay(0.15s);
}

.effectDelay2 {
  @include effectDelay(0.3s);
}


.effectDelay3 {
  @include effectDelay(0.45s);
}


.effectDelay4 {
  @include effectDelay(0.60s);
}


.effectDelay5 {
  @include effectDelay(0.75s);
}


.effectDelay6 {
  @include effectDelay(0.9s);
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	position: relative;
	z-index: 0;
	font-size: xx-large;
  font-weight: bold;
	@include small {
		font-size: x-large;
	}
  p {
    font-size: x-large;
    @include small {
      font-size: large;
    }
  }

}
