@import "/src/utils/mixin.scss";
@import "/src/theme/variables.scss";

@keyframes appear {
  from {transform: scaleY(0);}
  to {transform: scaleY(1);}
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 52.391px);
}

.table {
  padding: 5px;
  border-collapse: separate;
  border-spacing: 5px 5px;
  margin-top: auto;
  margin-bottom: auto;
  tr {
    padding: 5px;

  }
}

.value {
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  max-width: 56px;
  width: 56px;
  height: 56px;
  font-size: x-large;
  @include small {
    max-width: 44px;
    width: 44px;
    height: 44px;
    font-size: large;
  }
  @include verySmall {
    max-width: 33px;
    width: 33px;
    height: 33px;
  }
  text-align: center;
  font-weight: bold;
}

.valueCircle {
  border-radius: 50%;
}

.circleInput {
  border-width: 0px;
  min-width: 100%;
  max-width: 100%;
  background-color: var(--ion-color-primary);
  text-align: center;
  text-transform: capitalize;
  &:focus {
    outline: none;
  }
}

.keybord {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  max-width: 70%;
  @include small {
    max-width: 90%;
  }
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.key {
  text-align: center;
  font-weight: bold;
  height: 36px;
  flex: 1 18%;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  border-radius: 20%;
  font-size: large;
  
  @include notSmall {
    font-size: x-large;
  }
}

.key:disabled {
  opacity: 0.5;
}

.key-text {
  width: 108px;
}

.header {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
  @include notSmall {
    gap: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.title {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.help {
  font-size: xx-large;
  background-color: transparent;
  color: var(--ion-color-primary-shade);
}

.border {
  border: 2px solid var(--ion-color-primary);
}

.fillBackGround {
  background-color: var(--ion-color-primary);
}

.checked {
  background-color: var(--ion-color-success) !important;
  color: var(--ion-color-success-contrast) !important;
  border: 2px solid var(--ion-color-success) !important;
}

.warn {
  color: var(--ion-color-warning-contrast);
  background-color: var(--ion-color-warning);
  border: 2px solid var(--ion-color-warning);
}

.selected {
  background-color: var(--ion-color-danger-shade) !important;
  border: 2px solid var(--ion-color-danger-shade) !important;
  @extend .allEffect;
}

.allEffect {
  animation-name: appear;
  animation-duration: 0.5s;
}


@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	position: relative;
	z-index: 0;
	width: 120px;
	height: 120px;
	font-size: xx-large;
	@include small {
		width: 90px;
		height: 90px;
		font-size: x-large;
	}
	border-radius: 50%;
	overflow: hidden;
	padding: 2rem;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;

	div {
		position: absolute;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        
        background-image: linear-gradient(rgb(133, 98, 203), rgb(103, 58, 183)), 
            linear-gradient(rgb(103, 58, 183), rgb(143, 128, 213)),
            linear-gradient(rgb(153, 138, 223), rgb(193, 178, 243)), 
            linear-gradient(rgb(250,250,250), rgb(103, 58, 183));
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: var(--ion-color-secondary-contrast);
		border-radius: 50%;
	}
}

.rotating {
	&::before {
        animation: rotate 3s linear infinite;
	}
}