<ion-content fullscreen="true">

<ion-header class="header" translucent="true">
  <ion-button fill="clear" (click)="explain()" class="icon-font">
    <ion-icon name="help-circle-outline"></ion-icon>
  </ion-button>
  <ion-title class="title ion-text-center">{{ 'HOME.title' | translate }}</ion-title>
  <div class="right">
    <ion-button fill="clear" (click)="info()" class="icon-font">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="settings()" class="icon-font">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<div class="content"> 
  <div class="spinner" [ngClass]="{'rotating': running}" (click)="start()">
    <p *ngIf="!running">{{ "HOME.START" | translate }}</p>
    <div *ngIf="running">{{ counter | date:'mm:ss' }}</div>
  </div>
  <table class="table">
    <tr *ngFor="let row of quizz.rows; let index = index"> 
      <td 
        *ngFor="let rowValue of row.cells; let i = index" class="value valueCircle border fillBackGround" (click)="select({col:i, row: index, val: rowValue.value})"
        [ngClass]="{
          running: running,
          checked: rowValue.value && rowValue.value === numbersOfTheDay[index].charAt(i),
          warn: rowValue.value && numbersOfTheDay[index].includes(rowValue.value),
          selected: selectedChar && selectedChar.row === index && selectedChar.col === i,
          effect: (auxSelectedChar && secondSelect && (auxSelectedChar.row === index && auxSelectedChar.col === i || secondSelect.row === index && secondSelect.col === i)),
          effectDelay: completedRow.includes(index) && i === 0,
          effectDelay1: completedRow.includes(index) && i === 1,
          effectDelay2: completedRow.includes(index) && i === 2,
          effectDelay3: completedRow.includes(index) && i === 3,
          effectDelay4: completedRow.includes(index) && i === 4,
          effectDelay5: completedRow.includes(index) && i === 5,
          effectDelay6: completedRow.includes(index) && i === 6
        }" >
        {{rowValue.value}}
      </td>
    </tr>
  </table>

</div>
</ion-content>
